# Xcode
DerivedData/
build/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcuserdatad/
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives
*.xcarchive

# User-specific
*.xccheckout
*.moved-aside
*.xcuserstate
*.DS_Store

# Secrets
Features/Resources/Secrets.plist
Core/Config/GoogleService-Info.plist
Features/Account/Auth/Views/DebugLoginCredentials.local.swift
*.local.xcconfig
